.item {
    width: 300px;
    max-height: 450px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 4px rgb(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.item:hover {
    background-color: rgb(52, 70, 90, 0.3);
}

.item > img {
    height: 170px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.item-info {
    margin-bottom: 8px;
    overflow: hidden;
}

.item-description > p {
    margin-bottom: 8px;
    overflow: hidden;
}

.item-price {
    font-weight: bold;
    margin-bottom: 8px;
}

p > .item-title {
    font-size: 1rem;
    overflow: hidden;
}

.item-info > .item-description > p {
    font-size: .9rem;
    overflow: hidden;
}

.item-button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(52, 70, 90);
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 99px;
    
}

.item-button:hover {
    color: rgb(226, 155, 23);
    background-color: rgb(73, 105, 141);

}

@media (max-width: 1232px) {
    .item {
        width: 360px;
    }
}

@media (max-width: 1115px) {
    .item {
        width: 330px;
    }
}

@media (max-width: 1028px) {
    .item {
        width: 300px;
    }
}

@media (max-width: 950px) {
    .item {
        width: 400px;
    }
}

@media (max-width: 830px) {
    .item {
        width: 330px;
    }
}

@media (max-width: 700px) {
    .item {
        width: 290px;
    }
}

@media (max-width: 630px) {
    .item {
        width: 450px;
    }
}

@media (max-width: 500px) {
    .item {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .item {
        width: 300px;
    }
}