.loginscreen {
    align-content: center;
    justify-content: center;
    text-align: center;
}

 .loginscreen > h1 {
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 36px;
    color: rgb(52, 70, 90);
}

.form-group {
    font-size: 28px;
    margin: 5px;
}

.form-control {
    font-size: 28px;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 5px;
}

.loginscreen > form > input {
    font-size: 28px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgb(52, 70, 90);
    color: white;
    margin: 10px;
}

.loginscreen > form > input:hover {
    background-color: rgb(112, 136, 163);
}

.loginscreen > h3 {
    font-size: 28px;
}

.loginscreen > p {
    font-size: 22px;
}